body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(230, 230, 230);
    background-image: url('rocket.png');
    background-repeat: no-repeat;
    /*arka plan resmindeki tekrarı kapatır */
}

.navbar {
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .25);
    display: flex;
    height: 100px;
}

.logo {
    width: 70px;
    margin: 30px;
    margin-left: 100px;
}

.navbar li {
    display: inline-block;
    margin: 20px;
    position: relative;
    left: 700px;

}


.navbar li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.navbar li a:hover {
    text-decoration: underline;
    text-decoration-color: #ff6568;

}

.entery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.title h2 {
    font-size: 4rem;
    font-weight: 600;
    position: relative;
    top: 150px;
    left: 65px;
}

.moon {
    width: 100%;
}

.btn {
    width: 180px;
    height: 50px;
    position: relative;
    left: 300px;
    top: 100px;
    font-size: 20px;
    background-color: #ff6568;
    border-radius: 10px;

}
.btn:hover{
    transform:scale(1.1);
    transition-duration:300ms;
}
.scroll{
    position: relative;
    left: 45%;
    bottom: 5px;
    font-size: 21px;
    text-decoration: none;
    color: black;
    
}
